page-welcome {
    #welcome{
        // background: color($colors, dark);
        background-image: url("../assets/imgs/gradient.jpg");
        background-repeat: no-repeat; 
        background-size: cover; 

        h1{
            font-size: 42px;
            color: white;
            margin-left: 100px;
            margin-right: auto
        }
        .marginTop{
            margin-top:150px;
        }
        .logo{
            margin-top: 100px;
            height: 100px;
            display: block;
            margin-left: auto;
            margin-right: auto
        }
    }
    }
        