<ion-header>
  <ion-navbar>
    <ion-title>Messaging</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content padding="true" class="has-header">
    <ion-list id="messaging-list4">
      <ion-item class="item-avatar" id="messaging-list-item14" ng-repeat="item in items" ng-click="delete(item)" on-reorder="reorder(item,$fromIndex, $toIndex)">
        <img src="img/AMwZb01eSxyALk2kr37T_IMG_3858.jpeg">
        <h2>Item {{item.id}}</h2>
        <ion-option-button class="button-positive">Chat</ion-option-button>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content> -->
